In [1]:
!pip install vnstock
!pip install mysql-connector-python

Collecting vnstock
  Downloading vnstock-0.1.9.4-py3-none-any.whl (37 kB)
Installing collected packages: vnstock
Successfully installed vnstock-0.1.9.4
Collecting mysql-connector-python
  Downloading mysql_connector_python-8.1.0-cp310-cp310-manylinux_2_17_x86_64.whl (27.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 27.5/27.5 MB 61.8 MB/s eta 0:00:00
Collecting protobuf<=4.21.12,>=4.21.1 (from mysql-connector-python)
  Downloading protobuf-4.21.12-cp37-abi3-manylinux2014_x86_64.whl (409 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 409.8/409.8 kB 28.4 MB/s eta 0:00:00
Installing collected packages: protobuf, mysql-connector-python
  Attempting uninstall: protobuf
    Found existing installation: protobuf 3.20.3
    Uninstalling protobuf-3.20.3:
      Successfully uninstalled protobuf-3.20.3
Successfully installed mysql-connector-python-8.1.0 protobuf-4.21.12

In [2]:
from vnstock import *
import pandas as pd
from datetime import date
import mysql.connector
from mysql.connector import Error

**Crawl Price**

In [7]:
def priceStock(tickers):
  for ticker in tickers:
    conn = mysql.connector.connect(host='103.200.22.212',
      database='analysis_stock',
      user='analysis_LeTriDuc',
      password='Letriduc')
    try:
      new_record = stock_historical_data(ticker, '2023-01-01', date.today().strftime("%Y-%m-%d"))
      # new_record.insert(0, 'ticker', ticker)
      new_record = new_record.fillna(0)

      print('in_connect ' + ticker)
      try:
        if conn.is_connected():
          table = 'price_stock'
          cursor = conn.cursor()
          for i,row in new_record.iterrows():
            sql = "INSERT INTO " + table + " VALUES (%s,%s,%s,%s,%s,%s,%s)"
            cursor.execute(sql, tuple(row))
            print("Record inserted")
            conn.commit()
        else:
            print("Not connected to MySQL")
            break
      except Error as e:
        print(f'Error while inserting {ticker} to database', e)
    except:
      print(f'Error while extracting data {ticker}')

In [8]:
priceStock(['HAG'])

in_connect HAG
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted

**Crawl Income Statement**

In [ ]:
def incomeStatement(tickers):
  for ticker in tickers:
    conn = mysql.connector.connect(host='103.200.22.212',
      database='analysis_stock',
      user='analysis_LeTriDuc',
      password='Letriduc')
    try:
      new_record = financial_flow(symbol=ticker, report_type='incomestatement', report_range='quarterly')
      new_record.reset_index(inplace=True)
      new_record = new_record.fillna(0)
      new_record[['year', 'quarter']] = new_record['index'].str.split('-Q', expand=True)
      new_record = new_record.drop('index', axis = 1)

      print('in_connect' + ticker)
      try:
        if conn.is_connected():
          table = 'incomeStatement'
          cursor = conn.cursor()
          for i,row in new_record.iterrows():
            sql = "INSERT INTO " + table + " VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s, \
                                             %s,%s,%s,%s,%s,%s,%s,%s,%s,%s, \
                                             %s,%s,%s,%s)"

            cursor.execute(sql, tuple(row))
            print("Record inserted")
            conn.commit()

        else:
            print("Not connected to MySQL")
            break
      except Error as e:
        print(f'Error while inserting {ticker} to database', e)
    except:
      print(f'Error while extracting data {ticker}')

In [ ]:
incomeStatement(['HAG'])

in_connectHAG
Record inserted
Adding HAG

**Balance Sheet**

In [15]:
def balanceSheet(tickers):
  for ticker in tickers:
    conn = mysql.connector.connect(host='103.200.22.212',
      database='analysis_stock',
      user='analysis_LeTriDuc',
      password='Letriduc')
    try:
      new_record = financial_flow(symbol=ticker, report_type='balancesheet', report_range='yearly')
      new_record.reset_index(inplace=True)
      new_record = new_record.fillna(0)
      new_record[['year', 'quarter']] = new_record['index'].str.split('-Q', expand=True)
      new_record = new_record.drop('index', axis = 1)

      print('in_connect ' + ticker)
      try:
        if conn.is_connected():
          table = 'balanceSheet'
          cursor = conn.cursor()

          for i,row in new_record.iterrows():
            sql = "INSERT INTO " + table + " VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s, \
                                             %s,%s,%s,%s,%s,%s,%s,%s,%s,%s, \
                                             %s,%s,%s,%s,%s,%s,%s,%s,%s,%s, \
                                             %s,%s,%s,%s,%s,%s,%s )"

            cursor.execute(sql, tuple(row))
            print("Record inserted")
            conn.commit()
        else:
            print("Not connected to MySQL")
            break
      except Error as e:
        print(f'Error while inserting {ticker} to database', e)
    except:
      print(f'Error while extracting data {ticker}')

In [16]:
balanceSheet(['AGP'])

Error while extracting data MBS

**Crawl Cash Flow**

In [17]:
def cashFlow(tickers):
  for ticker in tickers:
    conn = mysql.connector.connect(host='103.200.22.212',
      database='analysis_stock',
      user='analysis_LeTriDuc',
      password='Letriduc')
    try:
      new_record = financial_flow(symbol=ticker, report_type='cashflow', report_range='quarterly')
      new_record.reset_index(inplace=True)
      new_record = new_record.fillna(0)
      new_record[['year', 'quarter']] = new_record['index'].str.split('-Q', expand=True)
      new_record = new_record.drop('index', axis = 1)

      print('in_connect ' + ticker)
      try:
        if conn.is_connected():
          table = 'cashFlow'
          cursor = conn.cursor()
          for i,row in new_record.iterrows():
            sql = "INSERT INTO " + table + " VALUES (%s,%s,%s,%s,%s,%s,%s,%s )"

            cursor.execute(sql, tuple(row))
            print("Record inserted")
            conn.commit()
        else:
            print("Not connected to MySQL")
            break
      except Error as e:
        print(f'Error while inserting {ticker} to database', e)
      continue
    except:
      print(f'Error while extracting data {ticker}')

In [18]:
cashFlow(['AGP'])

in_connect AGP
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted

**Ratio**

In [ ]:
def ratio(tickers):
  for ticker in tickers:
    conn = mysql.connector.connect(host='103.200.22.212',
      database='analysis_stock',
      user='analysis_LeTriDuc',
      password='Letriduc')
    try:
      new_record = financial_ratio(ticker, 'quarterly', True)
      new_record = new_record.fillna(0)
      print('in_connect ' + ticker)
      try:
        if conn.is_connected():
          table = 'ratio'
          cursor = conn.cursor()
          for i,row in new_record.iterrows():
            sql = "INSERT INTO " + table + " VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,\
                                                    %s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,\
                                                    %s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,\
                                                    %s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"

            cursor.execute(sql, tuple(row))
            print("Record inserted")
            conn.commit()
          else:
            print("Not connected to MySQL")
            break
      except Error as e:
        print(f'Error while inserting {ticker} to database', e)

      # continue
    except:
      print(f'Error while extracting data {ticker}')

In [ ]:
ratio(['OPC','MTP','MKV','MED','DPP','CDP','BIO','BCV','BCP'])

**Overview**

In [13]:
def overView(tickers):
  for ticker in tickers:
    conn = mysql.connector.connect(host='103.200.22.212',
      database='analysis_stock',
      user='analysis_LeTriDuc',
      password='Letriduc')
    try:
      new_record = company_overview(ticker)
      print('in_connect ' + ticker)
      try:
        if conn.is_connected():
          table = 'company_overview'
          cursor = conn.cursor()
          for i,row in new_record.iterrows():
            sql = "INSERT INTO " + table + " VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,\
                                                  %s,%s,%s,%s,%s,%s,%s,%s,%s)"

            cursor.execute(sql, tuple(row))
            print("Record inserted")
            conn.commit()
        else:
            print("Not connected to MySQL")
            break
      except Error as e:
        print(f'Error while inserting {ticker} to database', e)

      continue
    except:
      print(f'Error while extracting data {ticker}')

In [ ]:
company_overview('HAG')

,exchange,shortName,industryID,industryIDv2,industry,industryEn,establishedYear,noEmployees,noShareholders,foreignPercent,website,stockRating,deltaInWeek,deltaInMonth,deltaInYear,outstandingShare,issueShare,companyType,ticker
0,HOSE,Hoàng Anh Gia Lai,217,3573,Thực phẩm và đồ uống,Food & Beverage,2006,2084,54114,0.027,http://www.hagl.com.vn,3.6,0.008,0.058,-0.188,927.4,927.5,CT,HAG

In [14]:
overView(['AGP'])

in_connect AGP
Record inserted